<!DOCTYPE html>
<html>

<head>
    <title>Tic Tac Toe</title>
    <link rel="stylesheet" href="{{ url_for('shared',filename='css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('shared',filename='css/style.css') }}">

</head>

<body class="body">
    <h4>
        Software para Reconhecimento da Ferrugem Asiática
    </h4>
    <script type="text/javascript" src="{{url_for('shared',filename='js/jquery.js')}}"></script>
    <script type="text/javascript" src="{{url_for('shared',filename='js/main.js')}}"></script>
</body>

</html>